@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
button{
    outline: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
}